@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for body */
body {
  font-family: "Roboto", sans-serif;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

/* Style for header */
header {
  background-color: black;
  color: white;

  padding: 15px 25px;
}

/* Style for nav container */
nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Style for logo */
nav .logo {
  font-size: 36px;
  font-style: italic;
  font-weight: bold;

  margin-right: auto;
}

/* Style for buttons container */
nav .buttons {
  margin-left: auto;

  display: flex;
  gap: 50px;
}

/* Style for a button */
.buttons button {
  background-color: white;
  color: black;

  font-size: 16px;
  font-weight: bold;

  border-radius: 20px;

  width: 10em;
  height: 2.5em;
}

/* Style for button hover */
.buttons button:hover,
.buttons .active {
  background-color: black;
  color: white;

  border: 5px solid white;
}

/* Style for content container */
#content {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for quote container */
.quote-container {
  background-color: rgb(225, 225, 225);

  width: 100%;
  height: 25vh;

  padding: 0 30vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

/* Style for quote text */
.quote-text {
  color: black;

  font-size: 48px;
  font-weight: bold;
  font-style: italic;

  margin-right: auto;
}

/* Style for quote author */
.quote-author {
  color: black;

  font-size: 24px;
  font-style: italic;

  margin-left: auto;
}

/* Style for business hours container */
.business-hours-container {
  border: 2px solid black;

  width: 20vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin: auto;
  padding: 15px;
}

/* Style for business hours header */
.business-hours-header {
  font-size: 20px;
  font-weight: bold;

  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
}

/* Style for hours container */
.hours-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

/* Style for days */
.day {
  justify-self: left;
}

/* Style for hours */
.hours {
  justify-self: center;
}

/* Style for address container */
.address-container {
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 15px;
  margin: auto;
}

/* Style for address header */
.address-header {
  font-weight: bold;
}

/* Style for menu container */
.menu-container {
  border: 2px solid black;
  justify-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* Style for menu header */
.menu-header {
  font-size: 24px;
  font-weight: bold;
}

/* Style for menu items container */
.menu-items-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 15px;

  padding: 15px;
}

/* Style for item price */
.item-price {
  justify-self: right;
}

/* Style for contact container */
.contact-container {
  border: 2px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
}

/* Style for contact header */
.contact-header {
  font-size: 24px;
  font-weight: bold;
}

/* Style for contact text container */
.contact-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 5px;
}

/* Style for footer */
footer {
  background-color: black;
  color: white;

  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 25px;
}