.general-information-container {

}

.general-information-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.general-information-container input {
  max-width: 250px;
  padding: 2px;
}

.general-information-container button {
  max-width: 250px;
}
