.general-information-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-information-container form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.general-information-container input {
  max-width: 250px;
  padding: 2px;
}

.general-information-container button {
  max-width: 250px;
}
