@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Global variables of webpage colors */
:root {
  --sidebar-color: rgba(236, 230, 255, .25);
  --primary-color: #644a8e;
  --primary-color-alpha: rgba(100, 74, 142, 0.25);
  --background-color: #faf8f6;
  --svg-color-filter: invert(31%) sepia(45%) saturate(683%) hue-rotate(221deg)
    brightness(92%) contrast(87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--background-color);

  width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template: 1fr / 1fr 5fr;
}

.sidebar-container {
  background-color: var(--sidebar-color);

  height: 100%;

  display: grid;
  grid-auto-rows: max-content;
  gap: 15px;

  padding: 10px;
}

.sidebar-container > * {
  display: grid;
  grid-template-columns: 1fr 5fr;

  justify-items: left;
  align-items: center;
}

.sidebar-container > * > img {
  justify-self: center;
}

.logo {
  color: var(--primary-color);
  
  font-size: 32px;
}

.logo .logo-image {
  filter: var(--svg-color-filter);

  width: 1em;
  height: auto;
}

.sidebar-container button {
  background-color: transparent;
  color: var(--primary-color);

  border: none;

  font-size: 18px;
  font-weight: bold;

  height: 2em;
}

.sidebar-container button:hover {
  background-color: var(--primary-color-alpha);
  border-radius: 10px;
}

.plus-circle-image {
  filter: var(--svg-color-filter);

  width: 1.5em;
  height: auto;
}

.projects-container {
  grid-template-columns: 1fr;
}

.form-popup {
  background-color: var(--primary-color-alpha);

  border-radius: 10px;

  width: 100%;

  display: none;
}

.form-popup .form-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 5px;
}

.form-popup label {
  font-size: 16px;
  font-weight: bold;
}

.form-popup input {
  background-color: var(--background-color);
  border: none;

  height: 1.5em;

  padding: 5px;
}

.form-container input:focus {
  outline: none;
}

.form-popup .form-buttons {
  display: flex;
  gap: 15px;

  margin-left: auto;
}

.form-buttons button {
  font-size: 16px;

  width: 5em;
}

.projects-container .project {
  font-size: 16px;

  width: 100%;

  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: left;
  align-items: center;
}

.project .cube-image {
  filter: var(--svg-color-filter);

  width: 1.5em;
  height: auto;

  justify-self: center;
}